@model CineFlix.Models.Tvshow

@{
    ViewData["Title"] = "TvShowDetails";
    Layout = "_LayoutAdmin";
}

<h2 class="text-center">Tv Show Details</h2>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Show)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Show)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShowDesc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShowDesc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Genres)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Genres)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImageUrl)
        </dt>
        <dd class = "col-sm-10">
            <img src="@Html.DisplayFor(model => model.ImageUrl)" alt="img1" />
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VideoUrl)
        </dt>
        <dd class = "col-sm-10">
            <a href="@Html.DisplayFor(model => model.VideoUrl)">Tv Show Link</a>
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShowLanguage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShowLanguage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EpisodeCount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EpisodeCount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsDeleted)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsDeleted)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="TvShows" asp-controller="Admin">Back to List</a>
</div>
